@model IEnumerable<MvcPL.Models.AccountViewModel>

@{
    ViewBag.Title = "Index";
}


<h2>All Account</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountID)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
        <th>
            @Html.DisplayName("First name")
        </th>
        <th> </th>
        <th>
            @Html.DisplayName("Last name")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountID)
        </td>
        <td></td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Balance)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.HolderFirstName)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.HolderLastName)
        </td>
        <td>

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AccountID })
        </td>
    </tr>
    }
</table>